<launch>
<arg name="QUAD_NAME" default="quad1" />
<arg name="QUAD_IP" default="192.168.1.1" />
<arg name="FIRST_QUAD" default="TRUE" />

<node name="Drone_Drivers" pkg="ardrone_autonomy" type="ardrone_driver" output="screen" respawn="true" clear_params="true" args="-ip $(arg QUAD_IP)"> 

	    <param name="outdoor" value="0" />
	    <param name="max_bitrate" value="4000" />
	    <param name="bitrate" value="4000" />
	    <param name="navdata_demo" value="FALSE" /> <!-- May need to be false for tag detection -->
	   <!-- <param name="navdata_options" value="NAVDATA_OPTION_FULL_MASK" />  May need to be used for tag detection -->
	    <param name="flight_without_shell" value="0" />
	    <param name="altitude_max" value="2500" />
        <param name="altitude_min" value="50" />
        <param name="euler_angle_max" value="0.087" /> <!--limit angle to 5 degrees -->
        <param name="control_vz_max" value="700" />
	    <param name="control_yaw" value="1.75" />
	    <param name="detect_type" value="CAD_TYPE_VISION" /> <!-- value 2 for front camera (enemy color), value 3 - no detection, and value 4 - vertical camera roundel detection values. CAD_TYPE_VISION is 2d horizontal tags (hopefully the colored ones on the drone) -->
	    <param name="enemy_colors" value="2" /><!-- Detect green,yellow, blue shell (1,2,3) -->
	    <param name= "enemy_without_shell" value="0" /> <!-- Detect indoor/outdoor shells -->
	  <!--  <param name="default_groundstripe_colors" value="ARDRONE_DETECTION_COLOR_ARRACE_FINISH_LINE" /> -->
	   	<param name="detections_select_h" value="32" />
	    <param name="detections_select_v" value="0" /><!-- Bottom Camera detection disabled, was detections_select_v_hsync 128 -->
	    <param name="enemy_without_shell" value="0" />
	    <param name="do_imu_caliberation" value="true" />
	    <param name="tf_prefix" value="$(arg QUAD_NAME)" />
        <!-- Covariance Values (3x3 matrices reshaped to 1x9)-->
        <rosparam param="cov/imu_la">[0.1, 0.0, 0.0, 0.0, 0.1, 0.0, 0.0, 0.0, 0.1]</rosparam>
        <rosparam param="cov/imu_av">[1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0]</rosparam>
        <rosparam param="cov/imu_or">[1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 100000.0]</rosparam>
</node>
	
	<node pkg="arl_ROA" type="kalman" name="Kalman_Filter" respawn="true"/>
	<node pkg="arl_ROA" type="ORCA_3D" name="ORCA_3D" respawn="true"/>
	<node pkg="arl_ROA" type="drone_control" name="Drone_Controller" respawn="true"/> 
	
	<group if="$(arg FIRST_QUAD)">
	<node pkg="joy" type="joy_node" name="Xbox_Controller" args="/dev/input/js0" respawn="true"/>
	</group>
	
	<group unless="$(arg FIRST_QUAD)">
	<node pkg="joy" type="joy_node" name="Xbox_Controller" args="/dev/input/js1" respawn="true"/>
	</group>
	
	<node pkg="rxtools" type="rxplot" name="Battery_Monitor" args="ardrone/navdata/batteryPercent" />
	
	<node pkg="image_view" type="image_view" respawn="false" name="Front_Camera_Viewer" output="screen">
            <param name="autosize" type="bool" value="TRUE" />
            <param name="window_name" type="str" value="'$(arg QUAD_NAME) Front Camera'" />
            <remap from="image" to="ardrone/front/image_raw" />
</node>
</launch>
